html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    min-width: 320px;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1110px;
    margin: auto;
}