@import './vendors';
@import './variables';
@import './common';
@import './mixins';

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    flex: 1;
}

.header {
    background: #F8F6F7 url('../img/background.png');
    overflow: hidden;
    flex-shrink: 0;
    margin-bottom: 100px;
}

.header .container {
    position: relative;
    padding: 30px 0 130px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.logo {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.btn {
    background: #FB9475;
    border-radius: 17px;
    padding: 10px 20px;
    border-style: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 12px;

    &_large {
        font-size: 14px;
        padding: 17px 30px;
        border-radius: 24px;
    }

    &_largest {
        width: auto;
        font-size: 14px;
        padding: 17px 30px;
        border-radius: 24px;
        margin-bottom: 16px;
    }
}

.btn:hover {
    cursor: pointer;
}

.navigation__list, .prices-navigation__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navigation__item:not(:last-child) {
    margin-right: 28px;
}

.prices-navigation__item:not(:last-child) {
    margin-right: 28px;
}

.navigation__link, .prices-navigation__link {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    transition: .15s color;
}

.navigation a:hover, .prices-navigation a:hover {
    color: #00BF78;
}

.phone-info {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.phone-info a {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #333;
}

.phone-info span {
    font-size: 11px;
}

.hero {
    max-width: 540px;
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 48px;
    font-weight: 600;
    margin: 0 0 17px 0;
}

.hero p {
    font-size: 20px;
    margin: 0 0 59px;
}

.social {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    list-style: none;
}

.social_horizontal {
    position: relative;
    display: flex;
    gap: 24px;
    transform: none;
    top: 0;
}

.social li:not(:last-child) {
    margin-bottom: 16px;
}

.header__girl {
    width: 472px;
    height: 472px;
    border-radius: 50%;
    background: #FB9475;
    position: absolute;
    right: 96px;
    bottom: -80px;
}

.header__girl img {
    position: relative;
    transform: translate(-48px, -110px);
}

.footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
}

.footer__content {
    max-width: 222px;
    font-size: 12px;
    font-weight: 400;
}

.footer__copyright {
    margin-bottom: 8px;
}

.section_bg {
    padding: 80px 0;
    background-color: #F8F6F7;
}

.navigation__list_footer {
    transform: translateY(50%);
}

.navigation__link_footer {
    font-size: 12px;
    font-weight: 400;
}

.policy {
    text-decoration: underline;
}
.section__header, .contacts__header {
    margin: 0;
}

.section {
    margin-bottom: 100px;
}

.section__title, .contacts__title {
    font-size: 48px;
    font-weight: 700;
    margin: 0 0 32px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 100px;

    &__text {
        max-width: 569px;
    }
}

.paragraph {
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 16px;
}

.paragraph_large {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 16px;
}

.expand-link {
    font-size: 14px;
}

.about__video {
    width: 445px;
    height: 297px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.about__video img {
    object-fit: cover;
    width: 100%;
}

.video-overlay {
    background: #000;
    opacity: 0.2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}

.about__video::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: url('../img/play.svg') no-repeat center;
    z-index: 3;
    transition: 0.15s;
}

.about__video::after {
    content: 'Короткое видео о нас';
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 3;
    top: 168px;
    left: 0;
    color: #FFFFFF;
}

.about__video:hover::before {
    transform: scale(1.1) translateX(-50%);
}

.features {
    display: flex;
    justify-content: space-between;

    &__item {
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.features__item img {
    width: 48px;
    height: 48px;
}

.feature__header {
    margin-top: 28px;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 600;
}

.feature__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    margin: 0;
}

.feature__description_comfort {
    max-width: 296px;
}

.feature__description_health {
    max-width: 255px;
}

.feature__description_master {
    max-width: 263px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 30px;
}

.service__item {
    max-width: 350px;
}

.service__img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.service__header {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.service__description {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 16px;
}

.prices {
    max-width: 100%;
}

.prices__list {
    display: flex;
    flex-direction: row;
    gap: 125px;
}

.prices__item {
    width: 444px;
    display: flex;
    justify-content: space-between;
}

.prices-navigation {
    margin-bottom: 47px;
}

.prices__title {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 8px;
}

.prices__subtitle {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 4px;
}

.prices__value {
    color: #00BF78;
}

.prices__column {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.masters__photos {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.masters__subtitle {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 24px;
}

.master {
    max-width: 255px;

    &__img {
        width: 100%;
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        display: flex;
        margin: 0 0 20px;
    }

    &__name {
        font-size: 18px;
        font-weight: 600;
        margin: 0 0 8px;
    }

    &__position {
        font-size: 14px;
        font-weight: 400;
        margin: 0 0 20px;
    }

    &__exp {
        font-size: 12px;
        font-weight: 300;
        text-transform: uppercase;
        margin: 0;
    }
}


.master__img img {
    object-fit: cover;
}

.master__img::before {
    background: #000;
    opacity: 0;
    content: '';
    position: absolute;
    z-index: 3;
    transition: 0.15s;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.master__img::after {
    content: 'Записаться к мастеру';
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    z-index: 3;
    position: absolute;
    top: 133px;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
}

.master__img:hover::before {
    opacity: 0.5;
}

.master__img:hover::after {
    visibility: visible;
}

.section__header_controlled {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 165px;
    max-width: 1100px;
}

.container_expanded {
    max-width: 1440px;
}

.portfolio {
    display: flex;
    flex-direction: row;
    gap: 29px;
    margin-bottom: 100px;

    &__item {
        width: 338px;
        height: 338px;
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        padding: 0 15px;
    }

    &__overlay {
        background: #000;
        opacity: 0;
        content: '';
        position: absolute;
        z-index: 3;
        transition: 0.15s;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    
}

.portfolio__item img {
    width: 100%;
    object-fit: cover;
}

// .portfolio__item::before {
//     content: '';
//     position: absolute;
//     width: 48px;
//     height: 48px;
//     top: 149px;
//     left: 50%;
//     transform: translateX(-50%);
//     background: url('../img/zoom.svg') no-repeat center;
//     z-index: 4;
//     visibility: hidden;
// }

// .portfolio__item::after {
//     content: 'Увеличить';
//     font-size: 14px;
//     font-weight: 500;
//     line-height: 17px;
//     position: absolute;
//     width: 100%;
//     text-align: center;
//     z-index: 3;
//     top: 205px;
//     left: 0;
//     color: #FFFFFF;
//     visibility: hidden;
// }

// .portfolio__item:hover {
//     transform: scale(1.1);
//     transition: 0.15s;
//     cursor: pointer;
// }

// .portfolio__overlay:hover {
//     opacity: 0.5;
// }

// .portfolio__item:hover::before, 
// .portfolio__item:hover::after {
//     visibility: visible;
// }

.brands {
    max-width: 1110px;
    margin-left: 144px;

    &__header {
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        margin: 0 0 40px;
    }

    &__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        justify-content: center;
    }

    &__item {
        width: 160px;
        opacity: 0.5;
    }
}

.section__controls {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 10px;
}

.prev-control, .next-control {
    border: none;
    background: none;
    font-size: 24px;
    color: #00BF78;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.prev-control:hover, .next-control:hover {
    background: #F8F6F7;
    cursor: pointer;
}

.contacts {
    display: flex;
    flex-direction: column;
    width: 363px;
    position: relative;
    top: 38px;

    &__address {
        margin: 0 0 20px;
        font-size: 16px;
        line-height: 20px;
    }

    &__phone {
        margin: 0 0 20px;
        font-size: 16px;
        line-height: 14px;
    }

    &__email {
        display: block;
        margin: 0 0 32px;
        font-size: 16px;
        line-height: 20px;
    }

    &__text {
        margin: 0 0 12px;
        font-size: 12px;
        line-height: 14px;
    }
}

.container_modified {
    display: flex;
    gap: 207px;
}

.section_modified {
    padding: 40px 0;
    margin-bottom: 0;
}

.section_modified a {
    text-decoration: underline;
}

.enroll-form {
    display: flex;
    flex-direction: column;
    max-width: 445px;
    padding: 39px;
    margin: 0;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;

    &__title {
        font-size: 18px;
        font-weight: 600;
        margin: 0 0 15px;
        line-height: 14px;
    }

    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin: 0 0 35px;
    }

    &__input {
        height: 44px;
        margin: 0 0 20px;
        padding-left: 16px;
    }

    &__text_small {
        font-size: 12px;
        font-weight: 300;
    }
}

@import './media';